Package: tw.hiraku.optimizedzhuyinunified
Priority: optional
Section: Keyboards
Maintainer: Hiraku <dev@hiraku.tw>
Architecture: iphoneos-arm
Version: 1.4
Replaces: com.hiraku.optimizedzhuyin, com.hiraku.optimizedzhuyin6, com.hiraku.optimizedzhuyin7, com.hiraku.optimizedzhuyin8
Provides: com.hiraku.optimizedzhuyin, com.hiraku.optimizedzhuyin6, com.hiraku.optimizedzhuyin7, com.hiraku.optimizedzhuyin8
Description: 優化注音 iOS6~13
Name:Optimized Zhuyin Unified
Depends: preferenceloader, mobilesubstrate, firmware (>= 6.0)
Author: Hiraku <dev@hiraku.tw>
Depiction: Optimized Zhuyin Unified 是整合 iOS 6 ~ iOS 13 的版本，在所有裝置上都可免費使用。
